body {
	margin: 0;
	padding: 0;
	background: #419ee7;
}
.App {
	text-align: center;
	height: 100vh;
	background-image: url("./assets/smurf-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: inherit;
}
.form-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 50vw;
	height: 20vh;
}
.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 25%;
}
input {
	width: 100%;
	text-align: center;
	padding: 2% 0;
	margin: 2% 0;
	border-radius: 5px;
	border: none;
}
button {
	width: 50%;
	text-align: center;
	padding: 2% 0;
	margin: 2% auto;
	border-radius: 5px;
	border: none;
}
.smurf-list-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	width: 50%;
}
.smurf-container {
	width: 30%;
	margin: 2% 1%;
	border: none;
	border-radius: 5px;
	background: white;
	box-shadow: 2px 2px 5px #fcee08;
}

/* font-family: 'Bowlby One SC', cursive;
font-family: 'Neuton', serif; */
